{% extends 'home.html' %}

{% block content %}
<div class="div-page-name">
    <h1>Disks</h1>
</div>
{% if disks %}
<div class="div-content-center">
    <ul>
        {% for disk in disks %}
        <li>
            <a href="/disks/{{ disk.id }}">{{ disk.name }}</a> - {{ disk.size }} MB
            <a href="disks/{{disk.id}}/umount">unmount</a>
            <a href="disks/{{disk.id}}/format">format</a>
            <a href="disks/{{disk.id}}/wipefs">wipefs</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="div-content-center">
    <form id="add-disk-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="size">Size:</label>
        <input type="text" id="size" name="size">
        <br>
        <button type="submit">Mount new disk</button>
    </form>
</div>
{% else %}
<div class="div-content-center">
    <h1> No disks found.</h1>
</div>
{% endif %}

<script>
    const addDiskForm = document.querySelector('#add-disk-form');
    addDiskForm.addEventListener('submit', async (e) => {
        e.preventDefault();
        const name = document.querySelector('#name').value;
        const size = document.querySelector('#size').value;

        const token = localStorage.getItem('access_token');
        const headers = {
            'Authorization': 'Bearer ${token}',
            'Content-Type': 'application/json'
        };
        const body = JSON.stringify({'name': name, 'size': size});
        console.log("body:", body)
        const response = await fetch('/disks/new', {
            method: 'POST',
            headers: headers,
            body: body
        });

        if (response.ok) {
            // Редирект на страницу дисков или обновление списка дисков на текущей странице
            window.location.href = '/disks';
        } else {
            const errorData = await response.json();
            // Обработка ошибки, например, вывод сообщения об ошибке
            alert(errorData.error);
        }
    });
</script>

{% endblock %}
