{% extends 'home.html' %}

{% block content %}
{% if message %}
<p>{{ message }}</p>
{% endif %}
<br>
<div class="div-content-center">
    <h1>{{ disk.name }}</h1>
</div>
<div class="div-content-center">
    <p>Size: {{ disk.size }} MB</p>
</div>

<div class="div-form">
    <form onsubmit="updateDisk(event)">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ disk.name }}">
        <br>
        <label for="size">Size:</label>
        <input type="text" id="size" name="size" value="{{ disk.size }}">
        <br>
        <input type="submit" value="Update Disk">
    </form>
</div>

<script>
    function updateDisk(event) {
        const disk = disk;
        event.preventDefault();
        const name = document.getElementById("name").value;
        const size = document.getElementById("size").value;
        const diskId = disk.id;

        fetch(`/disks/${diskId}/update`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Authorization": `Bearer ${localStorage.getItem('access_token')}`
            },
            body: JSON.stringify({name: name, size: size})
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = `/disks/${diskId}`;
                } else {
                    throw new Error("Failed to update disk");
                }
            })
            .catch(error => {
                console.error(error);
            });
    }
</script>

{% endblock %}
