{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="div-page-name">
    <h1>Login</h1>
</div>
{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}
<div class="div-form">
    <form action="/auth/login{{ '?' if next else '' }}{{ next }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit">Login</button>
    </form>
</div>

{% endblock %}